# Basic dependencies
fastapi
uvicorn[standard]
openai
langchain
python-decouple
pydantic
pydantic-settings
requests
typer
tqdm
numpy
scikit-learn
pandas
pyyaml
flask

# Testing and Code Quality
pytest
flake8
black
mypy
